@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
.navbar {
  background: rgb(5, 0, 8);
  background: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  font-size: 1.2rem;
  z-index: 40;
  top: 0;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  min-width: 1500px;
  margin-right: 40px;
}
.navbar ul {
  padding: 20px;
  color: rgb(213, 230, 213);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.badge {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 500px;
  
}
