@import "react-slideshow-image/dist/styles.css";
.Slide{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: rgb(27, 34, 34);
}
.image_home{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 300px;
    height: fit-content;

}
.container{
    padding: 100px;
    background-image: linear-gradient(
        45deg,
        hsl(240deg 76% 10%) 0%,
        hsl(272deg 51% 18%) 9%,
        hsl(306deg 50% 24%) 37%,
        hsl(327deg 57% 34%) 62%,
        hsl(341deg 56% 45%) 76%,
        hsl(356deg 66% 57%) 84%,
        hsl(13deg 91% 62%) 90%,
        hsl(29deg 100% 59%) 94%,
        hsl(44deg 100% 53%) 98%,
        hsl(55deg 100% 50%) 100%
      );
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px;
}

@keyframes slide {
  5% {
    transform: translateX(0); /* 1s 6s 11s 16s */
  }
  25% {
    transform: translateX(0); /* 5s 10s 14s 19s */
  }
  30% {
    transform: translateX(-100%); /* 6s 11s 16s 20s */
  }
  100% {
    transform: translateX(-100%);
  }    
}

.button_home{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
