* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.images_container {
  
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  object-fit: cover;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 300px));
  background-image: linear-gradient(
    45deg,
    rgb(171, 171, 196) 0%,
    rgb(200, 192, 208) 9%,
    rgb(159, 149, 158) 37%,
    rgb(199, 184, 193) 62%,
    rgb(226, 209, 215) 76%,
    rgb(217, 200, 201) 84%,
    rgb(189, 174, 170) 90%,
    rgb(173, 165, 156) 94%,
    rgb(179, 175, 163) 98%,
    rgb(175, 174, 155) 100%
  );
}

.image_product {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
  margin-bottom: 30px;

}
button {
  background-color: rgb(216, 236, 218);
  border-radius: 20%;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
button:hover {
  cursor: pointer;
}
.image_product{
display:block;
height:400px;
}

.card {
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  border-radius: 50%;
}
.card:hover {
  background-color: beige;
  display: block;
}
