* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.images_container {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 300px));
  background-image: linear-gradient(
    45deg,
    hsl(240deg 76% 10%) 0%,
    hsl(272deg 51% 18%) 9%,
    hsl(306deg 50% 24%) 37%,
    hsl(327deg 57% 34%) 62%,
    hsl(341deg 56% 45%) 76%,
    hsl(356deg 66% 57%) 84%,
    hsl(13deg 91% 62%) 90%,
    hsl(29deg 100% 59%) 94%,
    hsl(44deg 100% 53%) 98%,
    hsl(55deg 100% 50%) 100%
  );
}

.image_product {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin-right: 30px;
  margin-bottom: 30px;
}
button {
  background-color: rgb(216, 236, 218);
  border-radius: 20%;
  height: 30px;
  width: 100px;
}
button:hover {
  cursor: pointer;
}
/* .image_product{
display:block;
} */

.card {
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  border-radius: 50%;
}
.card:hover {
  background-color: beige;
  display: block;
}
